:root {
  font-family: 'Open Sans';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #333333;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #e6356f;
  --text-color: #333333;
  --border-color: #c7c7cd;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e6356f;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e6356f;
  color: #e6356f;
  background-color: #ffffff;
}

